.menu-container-form {
    width: 100vw;
    height: 100%;
    display: flex;

    .content {
        max-width: 100%;
        width: 100%;
        display: flex;
        margin-left: 300px;
        align-items: center;
        justify-content: center;
    }

}