.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .btn-change-theme {
        // color: var(--primary-color);
        font-weight: bold;
        cursor: pointer;
        border: 1px solid rgba(161, 203, 236, 0.863);
        height: 30px;
        padding: 5px;
        border-radius: 5px;
    }
}