.contact-form {
    width: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;            

    .form-topic {
        margin-top: 15px;
        font-size: 20px;
        color: white;
    }

    .form-input {
        color: black;
        height: 30px;
        width: 400px;
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .form-textarea {
        width: 400px;
        margin-top: 5px;
        min-height: 100px;
        color: black;
        border-radius: 5px;
    }

    .form-submit {
        width: 400px;
        margin-top: 5px;
        border: 1px solid white;
        background-color: var(--tertiary-color-light);
        color: white;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .error-message {
        margin-top: 5px;
        font-weight: 300;
        color: red;
    }

    .footer-message {
        width: 400px;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        color: white;
    }
    .footer-message-success {
        width: 400px;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        color: rgb(26, 182, 26);
    }
}